<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "http://tse2.mm.bing.net/th?id=OIP.cW09vplE5WRFTuV0gGy7yAHaHa&pid=Api&rs=1" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1814226/screenshots/4049247/bubble-tea.gif);">
  <div class="container">
    <h1><span id="banner-typed-text"></span></h1>
    <p>the world biggest <strong>Olivia's secret boba shop</strong>></p>
    <a class="btn btn-flat" href="#">Buy Now</a>
  </div>
</div>
<div class="cards">
  <div div class="card-category">
    <h1>List of my bubbleTea</h1>
    <h3> <%= link_to "+ Add a new boba", new_cocktail_path %></h3>
    <% @cocktails.each do |cocktail| %>
      <div class="m-4">
        <h2> <%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <%= image_tag cocktail.photo.url(:bright_face) %>
        <%= link_to "Buy ME", cocktail_path(cocktail), class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
</div>