<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dlipt45qd/image/upload/v1566832598/how-to-make-coffee-jelly-5436w_oett4f.jpg);">
  <div class="navbar navbar-fixed-top navbar-expand-sm navbar-light navbar-lewagon fixed-top">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://image.flaticon.com/icons/svg/1473/1473279.svg" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", cocktails_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Add a Boba Card</h1>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name, placeholder: 'brown sugar boba' %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden%>
          <%= f.button :submit, class: "btn btn-outline-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>