<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://engineering.grab.com/img/bubble-tea-craze-on-grabfood/image5.png);">
  <div class="container m-4 text-left">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <h2 class="text-white">Add a topping detail for <%= @cocktail.name %></h2>
      <h5 class="text-white"><%= f.input :description, placeholder: "E.g.3 tea spoon" %></h5>
      <h5 class="text-white"><%= f.association :ingredient%></h5>
      <%= f.submit "Add my Topping", class: "btn btn-outline-success" %>
      <%= link_to "Back to List", cocktails_path, class: "btn btn-outline-danger"%>
    <% end %>
  </div>
</div>